@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (html:not(.dark) &);
@utility pause {
  animation-play-state: paused;
}

:root {
  --clr-1: #e2eaec;
  --clr-2: #b5d5df;
  --clr-3: #bbcdd3;
  --clr-4: #f3f8fa;
  --clr-light-1: #223b41;
  --clr-light-2: #4b727c;
  --clr-light-3: #536164;
  --clr-light-4: #223b41;
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-site: #121717;
  --color-site-800: #1d2323;
  --color-site-700: #282f2f;
  --color-site-600: #464d4d;
  --color-site-500: #646a6a;
  --color-site-300: #9ea0a0;
  --color-detalhe: #364545;
}
:root[data-theme="light"] {
  background-color: white;
}

:root[data-theme="dark"] {
  background-color: #121717;
}
@theme {
  --animate-glowing: glowing 20s linear infinite;
  --animate-stroke: stroke 2s infinite;
  --animate-typewriter: typewriter 1s steps(50) 0.5s 1 normal both,
    blinkingCursor 300ms steps(30) infinite normal;
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 14ch;
      border-right-width: 0;
    }
  }
  @keyframes blinkingCursor {
    from {
      border-right-color: rgba(0, 0, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  @keyframes frost-1 {
    0% {
      top: 0;
      right: 0;
    }

    50% {
      top: 100%;
      right: 75%;
    }

    75% {
      top: 100%;
      right: 25%;
    }

    100% {
      top: 0;
      right: 0;
    }
  }

  @keyframes frost-2 {
    0% {
      top: -50%;
      left: 0%;
    }

    60% {
      top: 100%;
      left: 75%;
    }

    85% {
      top: 100%;
      left: 25%;
    }

    100% {
      top: -50%;
      left: 0%;
    }
  }

  @keyframes frost-3 {
    0% {
      bottom: 0;
      left: 0;
    }

    40% {
      bottom: 100%;
      left: 75%;
    }

    65% {
      bottom: 40%;
      left: 50%;
    }

    100% {
      bottom: 0;
      left: 0;
    }
  }

  @keyframes frost-4 {
    0% {
      bottom: -50%;
      right: 0;
    }

    50% {
      bottom: 0%;
      right: 40%;
    }

    90% {
      bottom: 50%;
      right: 25%;
    }

    100% {
      bottom: -50%;
      right: 0;
    }
  }

  @keyframes frost-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }
}

@layer components {
  .hover-underline {
    @apply inline-block relative after:absolute after:w-full after:h-px after:bottom-0 after:left-0 after:bg-site dark:after:bg-white after:transition-transform after:duration-300 after:ease-out after:[transform:scaleX(0)] after:[transform-origin:bottom_right] hover:after:[transform:scaleX(1)] hover:after:[transform-origin:bottom_left];
  }
  .cursor-animation {
    position: relative;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .frost-item {
    overflow: hidden;
    position: absolute;
    width: 40vw;
    height: 40vh;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(1rem);
    mix-blend-mode: overlay;
  }

  .light-frost-item {
    overflow: hidden;
    position: absolute;
    width: 40vw;
    height: 40vh;
    background-color: var(--clr-light-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(1rem);
    mix-blend-mode: overlay;
  }

  .light-frost-item:nth-of-type(1) {
    top: -50%;
    animation: frost-border 6s ease-in-out infinite,
      frost-1 12s ease-in-out infinite alternate;
  }

  .light-frost-item:nth-of-type(2) {
    background-color: var(--clr-light-2);
    right: 0;
    top: 0;
    animation: frost-border 6s ease-in-out infinite,
      frost-2 12s ease-in-out infinite alternate;
  }

  .light-frost-item:nth-of-type(3) {
    background-color: var(--clr-light-3);
    left: 0;
    bottom: 0;
    animation: frost-border 6s ease-in-out infinite,
      frost-3 8s ease-in-out infinite alternate;
  }

  .light-frost-item:nth-of-type(4) {
    background-color: var(--clr-light-4);
    right: 0;
    bottom: -50%;
    animation: frost-border 6s ease-in-out infinite,
      frost-4 24s ease-in-out infinite alternate;
  }

  .frost-item:nth-of-type(1) {
    top: -50%;
    animation: frost-border 6s ease-in-out infinite,
      frost-1 12s ease-in-out infinite alternate;
  }

  .frost-item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: frost-border 6s ease-in-out infinite,
      frost-2 12s ease-in-out infinite alternate;
  }

  .frost-item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: frost-border 6s ease-in-out infinite,
      frost-3 8s ease-in-out infinite alternate;
  }

  .frost-item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: frost-border 6s ease-in-out infinite,
      frost-4 24s ease-in-out infinite alternate;
  }
}
